@import url("https://fonts.googleapis.com/css2?family=Roboto");

$primary-color: #09021a;
$font-color: white;
* {
    font-family: "Roboto";
    font-style: normal;
}
body {
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: $primary-color;
    color: $font-color;
}

.app {
    width: 100%;
    height: 100vh;
    display: flex;
    &__title {
        margin:0px;
        font-weight: 900;
        font-size: 48px;
        color: rgba(255, 255, 255, 0.2);
    }
    &__content {
        width: 100%;
        padding: 2%;
    }
    &__contentPanels {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
    }
}

@import "../../components/CircleEffectItem/CircleEffectItem";
@import "../../components/SideNavBar/SideNavBar";
@import "../SoundPropsContainer/SoundPropsContainer";
@import "../SoundEffectsContainer/SoundEffectsContainer";
@import "../../components/SoundItem/SoundItem";
