@import url("https://fonts.googleapis.com/css2?family=Roboto");
* {
  font-family: "Roboto";
  font-style: normal;
}

body {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: #09021a;
  color: white;
}

.app {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app__title {
  margin: 0px;
  font-weight: 900;
  font-size: 48px;
  color: rgba(255, 255, 255, 0.2);
}

.app__content {
  width: 100%;
  padding: 2%;
}

.app__contentPanels {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.soundPropsContainer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(94.51deg, #1e1450 38.89%, #120b34 103.28%);
  border-radius: 2px;
  width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.soundPropsContainer__props {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.soundPropsContainer__fade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.soundEffectsContainer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(94.51deg, #1e1450 38.89%, #120b34 103.28%);
  border-radius: 2px;
  width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.soundEffectsContainer__props {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.soundEffectsContainer__fade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.sideBar {
  width: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#24195C), to(#120B34));
  background: linear-gradient(180deg, #24195C 0%, #120B34 100%);
  -webkit-transition: .5s;
  transition: .5s;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.sideBar__name {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  margin-left: 1rem;
}

.sideBar__link {
  position: relative;
  color: white;
  margin-bottom: 2rem;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sideBar__link--logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 3rem;
}

.soundEffectsContainer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(94.51deg, #1e1450 38.89%, #120b34 103.28%);
  border-radius: 2px;
  width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.soundEffectsContainer__props {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.soundEffectsContainer__fade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
/*# sourceMappingURL=App.css.map */